


@{
    ViewBag.Title = "Manager Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manager Dashboard</h2>

@if (ViewBag.PendingApprovalsCount > 0)
{
    <div class="alert alert-warning" role="alert">
        You have @ViewBag.PendingApprovalsCount tenant(s) pending approval.
    </div>
}
<div class="upcoming-appointments">
    <h3>Upcoming Appointments</h3>
    @foreach (var appointment in ViewBag.UpcomingAppointments)
    {
        <div class="alert alert-warning" role="alert">
            <p>You have an appointment scheduled on @appointment.AppointmentDate.ToString("g")</p>
            <!-- Add more details or a link to view the appointment -->
        </div>
    }
</div>



<div class="list-group">
    @Html.ActionLink("Manage Buildings", "Index", "Buildings", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Apartments", "Index", "Apartments", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Appointments", "Index", "Appointments", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Pending Tenant Approvals", "PendingTenantApprovals", "ManagerDashboard", null, new { @class = "list-group-item list-group-item-action" })
</div>
