@model IEnumerable<PropertyRentalManagementWebSite.Models.Appointment>


@{
    ViewBag.Title = "Manager Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<h2>Manager Dashboard</h2>

@if (ViewBag.PendingApprovalsCount > 0)
{
    <div class="alert alert-warning" role="alert">
        You have @ViewBag.PendingApprovalsCount tenant(s) pending approval.
    </div>
}

@*@if (unreadMessages != null && unreadMessages.Any())
    {
        <div class="alert alert-info">
            <strong>You have unread messages:</strong>
            @foreach (var message in unreadMessages)
            {
            <p>
                Message from @message.Sender (sent on @message.SendDate.ToString("g")): @message.MessageContent
                <a href="@Url.Action("MarkAsRead", "Messages", new { id = message.MessageId })" class="btn btn-primary btn-sm">Mark as Read</a>
            </p>
            }
        </div>
    }*@

<div class="upcoming-appointments">
    <h3>Upcoming Appointments</h3>

    @{
        var upcomingAppointments = ViewBag.upcomingAppointments as IEnumerable<PropertyRentalManagementWebSite.Models.Appointment>;
    }

    @if (upcomingAppointments != null && upcomingAppointments.Any())
    {
        <div class="alert alert-info">
            <strong>You have upcoming appointments:</strong>
            @foreach (var appointment in upcomingAppointments)
            {
                <p>Appointment on @appointment.AppointmentDate.ToString("g"): @appointment.Purpose</p>
                <!-- Additional details or actions for the appointment -->
            }
        </div>
    }
    else
    {
        <p> You already see all the appointments schedule</p>
    }
</div>
<div class="unread-messages">
    <h3>Unread Messages</h3>
    @{
        var unreadMessages = ViewBag.UnreadMessages as IEnumerable<PropertyRentalManagementWebSite.Models.Message>;
    }

    @if (unreadMessages != null && unreadMessages.Any())
    {
        <div class="alert alert-info">
            <strong>You have unread messages:</strong>
            @foreach (var message in unreadMessages)
            {
                <p>Message from @message.User1.UserName (on @message.SendDate.ToString("g")): @message.Message1</p>
              
                <!-- Additional details or actions for the message -->
            }
        </div>
    }
    else
    {
        <p>You have no unread messages.</p>
    }
</div>




<div class="list-group">
    @Html.ActionLink("Manage Buildings", "Index", "Buildings", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Apartments", "Index", "Apartments", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Appointments", "Index", "Appointments", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Pending Tenant Approvals", "PendingTenantApprovals", "ManagerDashboard", null, new { @class = "list-group-item list-group-item-action" })
    @Html.ActionLink("Manage Messages", "Index", "Messages", null, new { @class = "list-group-item list-group-item-action" })
</div>
