@model IEnumerable<PropertyRentalManagementWebSite.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@using (Html.BeginForm("Index", "Apartments", FormMethod.Get))
{
    <p>
        @if (Session["UserRole"] != null && Session["UserRole"].ToString() == "Manager")
        {
            <span>
                Status: @Html.DropDownList("searchStatus",
(IEnumerable<SelectListItem>)ViewBag.Statuses,
"Select a status",
new { @class = "form-control" })
            </span>
        }
        Province: @Html.DropDownList("searchProvince",
(SelectList)ViewBag.ProvinceList,
"Select a province",
new { @class = "form-control" })
        City: @Html.DropDownList("searchCity",
(SelectList)ViewBag.CityList,
"Select a city",
new { @class = "form-control" })
        Type: @Html.DropDownList("searchType",
 (SelectList)ViewBag.TypeList,
 "Select a Type",
 new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenant)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApartmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentId })
            </td>
        </tr>
    }

</table>
